include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include SECURITY.md
recursive-include evals *.md *.py
recursive-include benchmarks *.md *.py *.txt *.json
recursive-include tests *.py
